.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 4px;
}

.decBox {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.tooltipImg {
  display: none;
  border-radius: 5px;
  background: white;
  position: absolute;
}

.tooltip:hover .tooltipImg {
  display: block;
  position: fixed;
  z-index: 10;
  width: auto;
  max-width: 320px;
  min-height: 128px;
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
