.classify{
  padding-left: 0.5em;
  font-weight: bold;
}

.button {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 5em;
  height: 2em;
  border: 2px solid #000;
  font-family: sans-serif;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  /* position: relative; */
}
.button {
  transition: all 0.3s ease;
}
.button:hover {
   box-shadow:
   -6px -6px 20px 0px #fff9,
   -1px -1px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}