.submit {
  margin: 2em 0.5em 0.5em 0.5em;
  padding: 0.2em;
  text-transform: capitalize;
  font-size: 2em;
  color: white;
  background-color: rgb(52, 177, 104);
  border: none;
}

.submit:hover {
  background-color: rgb(203, 72, 20);
}
