@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
.unselected {
  flex-basis: 50%;
  background-color:rgb(251, 228, 232, 0.8);
}

.beforeSelect{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: brown;
}

.selected {
  flex-basis: 50%;
  background-color: antiquewhite
}

.afterSelect{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: rgb(199, 8, 8);
}

.prompt{
  padding: 1em;
  user-select: none;
  font-family: 'Domine', serif;
  font-size: 3em;
  text-align: center;
}